<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="View your BNet Account ID">
    <meta name="author" content="Sean Pfeifer">
    <style>
      body {
        padding-top: 2rem;
        text-align: center;
      }

      ul {
        text-align: center;
        margin: 0 auto;
        max-width: 666px;
        list-style-type: none;
        padding: 0;
      }

      li {
        padding-bottom: 1rem;
      }

      li::marker {
        content: "";
      }

    </style>
    <link rel="stylesheet" href="/static/pico.classless.min.css" />
    <title>What's my BNet ID?</title>
  </head>

  <body>
  {{if .}}
    <h1>BNet ID: <b>{{.BNetID}}</b></h1>
    <div>Battletag: <b>{{.BattleTag}}</b></div>
    <div><a href="/logout">Log out</a></div>
  {{else}}
    <h1><a href="/login">Log in to view your BNet ID</a></h1>
    <div>This site allows you to easily view your BNet Account ID.</div>
  {{end}}
    <hr>
    <div>
      <h2>FAQ</h2>
      <ul>
        <li>
          <h3>What is a BNet Account ID?</h3>
          Your unique ID that can be used to distinguish your account from others.
        </li>
        <li>
          <h3>How is this different from a Battletag?</h3>
          A BNet ID cannot be changed, and is assigned at account creation.
        </li>
        <li>
          <h3>Why should I care?</h3>
          You might not - but this information may be valuable to developers who are trying to help you.
        </li>
        <li>
          <h3>Is this site safe?</h3>
          This site only requests the most basic of account info, and securely caches your BNet ID + Battletag in
          cookies
          on your browser for your convenience.<br>This site does not store your info anywhere else or share it with
          anyone.
        </li>
        <li>
          <h3>Who made this?</h3>
          <a href="https://github.com/seanpfeifer">Sean Pfeifer</a> made this.
        </li>
      </ul>
    </div>
  </body>

</html>
